
/* ----- Card style ----- */

.card-text {
    font-weight: 900;
  }
  
  .card-footer {
    height: 1.5rem;
  }
  
  #startBtn {
    display: block;
    padding-left: auto;
    padding-right: auto;
  }
  
  #intro-code-img {
    height: 300px;
  }
  
  
  
  
  /* ----- Media Queries ----- */
  
  @media (min-width: 992px) {
    .movie-image {
      width: 100%;
      max-height: 300px;
    }
  }
  
  @media (max-width: 991px) {
  .movie-image {
    width: 100%;
    max-height: 220px;
  }
}  
  @media (max-width: 768) {
    #timeP,
    #viewHSA {
      text-align: center;
    }
  }